<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MedicationsList.MedicationsList" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="21"/>
	<application android:label="MedicationsList" android:theme="@android:style/Theme.Holo.Light"></application>
</manifest>